<section>
<h2>Browse the Journal</h2>
<ul>
  <lisp>
    (loop for CATEGORY in (ob:get-posts nil nil nil 'category)
    do (progn
    (insert (format "<li><a href=\"%s/%s/index.html\"><img src=\"%s/style/images/%s.jpg\"/></a><br /><a href=\"%s/%s/index.html\">%s</a>" (ob:path-to-root) (ob:category-safe CATEGORY) (ob:path-to-root) (ob:category-safe CATEGORY) (ob:path-to-root) (ob:category-safe CATEGORY) (ob:category-name CATEGORY)))
      (let ((POSTS (ob:get-posts (lambda(x) (equal (ob:category-name CATEGORY) (ob:category-name (ob:post-category x)))))))
      )
      (insert "</li>")))
  </lisp>
</ul>
</section>
