<section>
<h2>Browse the Journal</h2>
<ul>
  <lisp>
    (loop for CATEGORY in (ob:get-posts nil nil nil 'category)
    do (progn
    (insert (format "<li><a href=\"%s/%s/index.html\"><img src=\"%s/style/images/%s.jpg\"/></a><br /><a href=\"%s/%s/index.html\">Number %s</a>" (ob:path-to-root) CATEGORY (ob:path-to-root) CATEGORY (ob:path-to-root) CATEGORY CATEGORY))
      (let ((POSTS (ob:get-posts (lambda(x) (equal CATEGORY (ob:post-category x))))))
      )
      (insert "</li>")))
  </lisp>
</ul>
</section>




        
      
      

      
